.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;


  @media only screen and (max-width: 700px ) {
    grid-column: sidebar-start / full-end;
}

@media only screen and (max-width: 600px) {
  grid-column: sidebar-start / full-end;
  padding: 3rem 2rem;
  margin-top: 2rem;

  }

}




.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  list-style: none;
align-items: center;


  @media only screen and (max-width: 800px) {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  }



  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    text-decoration: none;
    font-family: $font-display;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem;
    display: block;
    background-color: rgba(#fff, 0.05);
    transition: all .3s;
    }
  

    &__item {
      @media only screen and (max-width: 1000px) {
        flex: 0 0 50%;

      }
      @media only screen and (max-width: 800px) {
        flex: 0 0 33%;

      }
      @media only screen and (max-width: 600px) {
       flex: 0 0 33%;
      }
    }

  &__link:hover, 
  &__link:active  {
    background-color: rgba(#fff, 0.15);
    transform: translateY(-3px);
  }


}



.copyright {
    width: 70%;
    margin-top: 6rem;
    font-size: 1.6rem;
    text-align: center;
    color: $color-grey-light-2;
    margin-left: auto;
    margin-right: auto;

  }