.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 600px ) {
    display: none;
  }
  @media only screen and (max-width: 700px ) {
    display: none;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 2rem;

  &::before,
  &::after {
    content: "";
    height: 2px;
    width: 4.5rem;
   display: block;
    background-color: #fff;
  }

  &::after {
    transform: translateY(1.3rem);
  }
  &::before {
   transform: translateY(-1.5rem);
  }
}
